.places__paragraph {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding: 0 0 27px 0;
}

.places__paragraph:last-child {
    padding: 0;
}

@media screen and (max-width: 768px) {

    .places__paragraph {
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin: 0;
        padding: 0 0 25px 0;
    }
}

@media screen and (max-width: 600px) {
    .places__paragraph {
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        margin: 0;
        padding: 0 16px 25px 16px;
    }


    .places__paragraph:last-child {
        padding: 0 16px 0 16px;
    }
}