.places {
    max-width: 984px;
    margin: 0 auto 92px auto;
}

@media screen and (max-width: 1024px) {

    .places {
        max-width: 928px;
        margin: 0 auto 92px auto;
    }

}

@media screen and (max-width: 768px) {

    .places {
        max-width: 720px;
        margin: 0 auto 90px auto;
    }

}

@media screen and (max-width: 600px) {

    .places {
        max-width: 320px;
        margin: 0 auto 66px auto;
    }

}