.header__lang-link_En {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 117%;
    font-weight: 400;
}


@media screen and (max-width: 768px) {

    .header__lang-link_En {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 117%;
        font-weight: 400;
    }

}

@media screen and (max-width: 390px) {

    .header__lang-link_En {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 111%;
        font-weight: 400;
    }

}