.places__title {
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
        line-height: 110%;
    }
}

@media screen and (max-width: 600px) {
    .places__title {
        font-size: 32px;
        line-height: 109%;
        padding: 0 0 0 16px;
    }
}