.lead {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {

    .lead {
        max-width: 928px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 768px) {

    .lead {
        max-width: 768px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 320px) {

    .lead {
        max-width: 320px;
        margin: 0 auto;
    }

}