.header {
    display: flex;
    padding: 28px 0 56px 0;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {

    .header {
        padding: 28px 0 48px 0;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {

    .header {
        max-width: 720px;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 390px) {

    .header {
        padding: 16px 0 48px 0;
        max-width: 288px;
        width: calc(100% - 16px);
    }
}