.footer__copyright {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    margin: 0;
    padding: 0;
}



@media screen and (max-width: 678px) {
    .footer__copyright {
        line-height: 100%;
    }
}