.cover {
    max-width: 1184px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 0 92px 0;
}

@media screen and (max-width: 1024px) {

    .cover {
        width: 100%;
        padding: 0 0 92px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 0 0 88px 0;
    }
}

@media screen and (max-width: 490px) {
    .cover {
        padding: 0 0 64px 0;
    }
}