.footer__navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 678px) {
    .footer__navigation-list {
        flex-direction: column;
        padding-bottom: 48px;
    }
}