.places__place {
    display: grid;
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
    row-gap: 48px;
    padding-bottom: 80px;
    margin: 0;
}

.places__place:last-child {
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .places__place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {

    .places__place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 600px) {
    .places__place {
        grid-template-columns: minmax(288px, 1fr);
        row-gap: 32px;
        padding-bottom: 50px;
    }
}