.lead__caption {
    color: white;
    margin: 8px 0 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


@media screen and (max-width: 768px) {
    .lead__caption {
        color: white;
        margin: 8px 0 0 24px;
        padding: 0;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        color: white;
        margin: 8px 0 0 16px;
        padding: 0;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
}