.cover__title {
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
    padding: 0 0 32px 0;
    z-index: 1;
}

@media screen and (max-width: 554px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        max-width: 250px;
        padding: 33px 0 16px 0;
    }
}