.intro__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 54px;
    line-height: 107%;
    color: white;
    padding-bottom: 40px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {

    .intro__title {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 54px;
        line-height: 107%;
        color: white;
        padding-bottom: 40px;
        max-width: 690px;
    }

}

@media screen and (max-width: 768px) {

    .intro__title {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 54px;
        line-height: 107%;
        color: white;
        padding-bottom: 40px;
        max-width: 720px;
    }

}

@media screen and (max-width: 658px) {

    .intro__title {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 32px;
        line-height: 109%;
        color: white;
        padding-bottom: 40px;
        max-width: 288px;
    }

}